*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bkgc: rgb(20, 172, 228);
}
body{
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}

#board{
    width: 90%;
    height: 80vh;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    background-image: url(../images/1.png); 
    background-size: cover;
    background-repeat: repeat-x;
}

#player-car{
    position: absolute;
    z-index: 1;
}

.obstacle{
    position: absolute;
    z-index: 0;
}

.coins{
    position: absolute;
}

